// =============================================================================
// NotFound
// =============================================================================

.notfound {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  header {
    max-width: 250px;
    p {
      a:hover,
      a:active,
      a:focus {
        color: $base-accent-color;
      }
    }
  }
}
