// =============================================================================
// NotFound
// =============================================================================

.notfound {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  header {
    max-width: 250px;
    p {
      margin-top: 15px;
      a {
        display: inline;
      }
      a:hover,
      a:active,
      a:focus {
        color: $base-accent-color;
      }
    }
    img {
      filter: grayscale(1);
      transform: scale(1, -1);
    }
  }
}
