{% if page.thumb_image %}
    {% capture thumb_image %}{% asset '{{ page.thumb_image }}' @path %}{% endcapture %}
{% else %}
    {% capture thumb_image %}{% asset og-image.jpg @path %}{% endcapture %}
{% endif %}
{% assign thumb_image = thumb_image | absolute_url %}
<head>
    <meta charset="utf-8">
    <title>{{ site.name }} | {{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ page.title | escape }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:image" content="{{ thumb_image }}">
    {% if page.layout == 'post' %}
        <meta property="og:type" content="article">
        <meta property="article:published_time" content="{{ page.date }}">
        <meta property="article:author" content="{{ '/about' | absolute_url }}">
        {% for tag in page.tags %}
            <meta property="article:tag" content="{{ tag }}">
        {% endfor %}
    {% else %}
        <meta property="og:type" content="website">
    {% endif %}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:title" content="{{ page.title | escape }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ thumb_image }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% asset apple-touch-icon.png @path %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% asset favicon-32x32.png @path %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% asset favicon-16x16.png @path %}">

    <link href="{{ 'feed.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="{{ site.name }}"/>

    {% asset main.css !type %}
</head>
