<figure{% if include.reduced %} class="reduced"{% endif%}>
    <a href="{% asset '{{ include.path }}' @path %}">
        {% if include.reduced %}
            {% asset '{{ include.path }}'
                srcset:width=350
                srcset:width=200
                alt='{{ include.alt }}'
                data-action='zoom'
                data-zooming-width='{{ assets[include.path].width }}'
                data-zooming-height='{{ assets[include.path].height }}'
            %}
        {% else %}
            {% asset '{{ include.path }}'
                srcset:width=610
                srcset:width=440
                srcset:width=200
                alt='{{ include.alt }}'
                data-action='zoom'
                data-zooming-width='{{ assets[include.path].width }}'
                data-zooming-height='{{ assets[include.path].height }}'
            %}
        {% endif %}
    </a>
    {% if include.caption %}
        <figcaption><strong>Figure {{ include.caption-no }} - </strong>{{ include.caption }}</figcaption>
    {% endif%}
</figure>
