.notfound {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    header {
        max-width: 250px;

        p {
            margin-top: 15px;

            a {
                @include hover-active-focus {
                    color: $base-accent-color;
                }

                display: inline;
            }
        }

        img {
            filter: grayscale(1);
            transform: scale(1, -1);
        }
    }
}
