// =============================================================================
// Articles
// =============================================================================

.article-list {
  max-width: 500px;
  margin: 30px auto;
  a {
    font-size: 15px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 25px 0;
      a {
        color: $base-font-secondary-color;
      }
      .article-list-date {
        float: right;
        margin: 0 0 0 20px;
      }
      time {
        display: inline-block;
      }
    }
  }
}

article {
  max-width: 610px;
  margin: 0 auto;
  header {
    text-align: center;
    margin-bottom: 60px;
  }
  h2 {
    line-height: 1.4em;
    font-size: 1.4em;
    margin-top: 2.5rem;
  }
  .divider {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      $base-background-accent-color,
      rgba(255, 255, 255, 0)
    );
    height: 1px;
    margin: 2em 0;
  }
  p {
    margin-bottom: 16px;
  }
  footer {
    h2 {
      display: inline;
    }
    a {
      display: inline-block;
      margin-left: 10px;
      vertical-align: text-bottom;
      svg {
        fill: $base-accent-color;
        width: 24px;
        height: 24px;
      }
    }
  }
}

section > h2 {
  h2 {
    margin-top: 2.5rem;
    &:first-child {
      margin-top: 30px;
    }
  }
}
