// =============================================================================
// Fonts
// =============================================================================

@charset 'UTF-8';

// Cormorant Garamond
// =============================================================================

@font-face {
  font-family: 'Cormorant Garamond';
  font-display: swap;
  src: local('Cormorant Garamond Medium'),
       local('Cormorant-Garamond-600'),
       url(font_path('cormorant-garamond/700.woff2')) format('woff2'),
       url(font_path('cormorant-garamond/700.woff')) format('woff');
  font-style: normal;
}

// Lato
// =============================================================================

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'),
       local('Lato-regular'),
       url(font_path('lato/regular.woff2')) format('woff2'),
       url(font_path('lato/regular.woff')) format('woff');
  font-weight: $base-font-weight;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'),
       local('Lato-700'),
       url(font_path('lato/700.woff2')) format('woff2'),
       url(font_path('lato/700.woff')) format('woff');
  font-weight: $base-font-weight-bold;
  font-style: normal;
}
