// =============================================================================
// Highlights
// =============================================================================

// Inline highlighting
code.highlighter-rouge,
// Block highlighting
pre.highlight {
  border: 1px solid $base-background-secondary-accent-color;
  border-radius: $base-border-radius;
  background-color: $base-background-secondary-accent-color;
}

code.highlighter-rouge {
  padding: 2px 4px;
  word-break: break-word;
  color: #f07076;
  font-size: 14px;
}

pre.highlight {
  margin: 30px 0;
  padding: 1.5rem;
  overflow: auto;
  line-height: 1.8;
  font-family: $base-font-family-mono;
  font-size: 14px;
}

// Highlighting types
// =============================================================================

// Comment
.c,
// Comment.Multiline
.cm,
// Comment.Single
.c1,
// Comment.Special
.cs,
// Generic.Emph
.ge {
  font-style: italic;
}

// Comment
.c,
// Comment.Multiline
.cm,
// Comment.Single
.c1 {
  color: #998;
}

// Comment.Single
.cp,
// Comment.Special
.cs,
// Generic.Heading
.gh,
// Name.Builtin.Pseudo
.bp {
  color: #999;
}

// Keyword
.k,
// Operator
.o,
// Comment.Single
.cp,
// Comment.Special
.cs,
// Generic.Strong
.gs,
// Operator.Word
.ow {
  color: #79c0ff;
}

// Generic.Deleted
.gd {
  background-color: #fdd;
  color: #000;

  // Generic.Deleted.Specific
  .x {
    background-color: #faa;
    color: inherit;
  }
}

// Generic.Inserted
.gi {
  background-color: #dfd;
  color: #000;
}

// Generic.Inserted.Specific
.gi .x {
  background-color: #afa;
  color: #000;
}

// Generic.Output
.go {
  color: #888;
}

// Generic.Prompt
.gp {
  color: #555;
}

// Generic.Subheading
.gu {
  color: #aaa;
}

// Name.Class
.nc {
  color: #458;
}

// Name.Exception
.ne,
// Name.Function
.nf {
  color: #900;
}

// Name.Namespace
.nn {
  color: #555;
}

// Name.Other
.nx {
  color: #d2a8ff;
}

// Text.Whitespace
.w {
  color: #bbb;
}

// Literal.Number.Float
.mf,
// Literal.Number.Hex
.mh,
// Literal.Number.Integer
.mi,
// Literal.Number.Integer.Long
.il,
// Literal.Number.Oct
.mo,
// Literal.Number
.m,
// Name.Tag
.nt {
  color: #79c0ff;
}

// Literal.String.Backtick
.sb,
// Literal.String.Char
.sc,
// Literal.String.Doc
.sd,
// Literal.String.Double
.s2,
// Literal.String.Escape
.se,
// Literal.String.Heredoc
.sh,
// Literal.String.Interpol
.si,
// Literal.String.Other
.sx,
// Literal.String.Regex
.sr,
// Literal.String.Single
.s1,
// Literal.String
.s {
  color: #a5d6ff;
}
