// =============================================================================
// Highlights
// =============================================================================

// Inline highlighting
code.highlighter-rouge,
// Block highlighting
pre.highlight {
  background: $base-background-color;
  border: 1px solid $base-background-accent-color;
  border-radius: $base-border-radius;
}

code.highlighter-rouge {
  padding: 2px 4px;
  font-size: 14px;
  color: #d14;
}

pre.highlight {
  margin: 30px 0;
  overflow: auto;
  font-family: $base-font-family-mono;
  font-size: 14px;
  line-height: 1.8;
  padding: 1.5rem;

  // Highlighting types
  // =============================================================================

  // Comment
  .c,
  // Comment.Multiline
  .cm,
  // Comment.Single
  .c1,
  // Comment.Special
  .cs,
  // Generic.Emph
  .ge {
    font-style: italic;
  }

  // Comment
  .c,
  // Comment.Multiline
  .cm,
  // Comment.Single
  .c1 {
    color: #998;
  }

  // Comment.Single
  .cp,
  // Comment.Special
  .cs,
  // Generic.Heading
  .gh,
  // Name.Builtin.Pseudo
  .bp {
    color: #999;
  }

  // Error
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  // Keyword
  .k,
  // Operator
  .o,
  // Comment.Single
  .cp,
  // Comment.Special
  .cs,
  // Generic.Strong
  .gs,
  // Operator.Word
  .ow {
    font-weight: $base-font-weight-bold;
  }

  // Generic.Deleted
  .gd {
    color: #000;
    background-color: #fdd;
    // Generic.Deleted.Specific
    .x {
      color: inherit;
      background-color: #faa;
    }
  }

  // Generic.Error
  .gr,
  // Generic.Traceback
  .gt {
    color: #a00;
  }

  // Generic.Inserted
  .gi {
    color: #000;
    background-color: #dfd;
  }

  // Generic.Inserted.Specific
  .gi .x {
    color: #000;
    background-color: #afa;
  }

  // Generic.Output
  .go {
    color: #888;
  }

  // Generic.Prompt
  .gp {
    color: #555;
  }

  // Generic.Subheading
  .gu {
    color: #aaa;
  }

  // Keyword.Constant
  .kc,
  // Keyword.Declaration
  .kd,
  // Keyword.Pseudo
  .kp,
  // Keyword.Reserved
  .kr,
  // Keyword.Type
  .kt {
    font-weight: $base-font-weight-bold;
    color: #458;
  }

  // Name.Builtin
  .nb {
    color: #0086b3;
  }

  // Name.Class
  .nc {
    font-weight: $base-font-weight-bold;
    color: #458;
  }

  // Name.Entity
  .ni {
    color: #800080;
  }

  // Name.Exception
  .ne,
  // Name.Function
  .nf {
    font-weight: $base-font-weight-bold;
    color: #900;
  }

  // Name.Namespace
  .nn {
    color: #555;
  }

  // Name.Tag
  .nt {
    color: #000080;
  }

  // Text.Whitespace
  .w {
    color: #bbb;
  }

  // Literal.Number
  .m,
  // Literal.Number.Float
  .mf,
  // Literal.Number.Hex
  .mh,
  // Literal.Number.Integer
  .mi,
  // Literal.Number.Integer.Long
  .il,
  // Literal.Number.Oct
  .mo {
    color: #099;
  }

  // Literal.String
  .s,
  // Literal.String.Backtick
  .sb,
  // Literal.String.Char
  .sc,
  // Literal.String.Doc
  .sd,
  // Literal.String.Double
  .s2,
  // Literal.String.Escape
  .se,
  // Literal.String.Heredoc
  .sh,
  // Literal.String.Interpol
  .si,
  // Literal.String.Other
  .sx,
  // Literal.String.Single
  .s1 {
    color: #d14;
  }

  // Literal.String.Regex
  .sr {
    color: #009926;
  }

  // Literal.String.Symbol
  .ss {
    color: #990073;
  }

  // Name.Variable
  .nv,
  // Name.Attribute
  .na,
  // Name.Constant
  .no,
  // Name.Variable.Class
  .vc,
  // Name.Variable.Global
  .vg,
  // Name.Variable.Instance
  .vi {
    color: #008080;
  }
}
