{% extends "base.html" %}

{% block content %}
    <section class="about">
        <h2>About</h2>
        <p>Hey!</p>
        <br>
        <p>I'm Miguel de Moura, a Portuguese Software Engineer on the Challenges and Turnstile team (previously in WAF/Firewall) at <a href="https://cloudflare.com">Cloudflare</a> in London, UK.</p>
        <br>
        <br>
        <p>Source and Licenses can be found in the GitHub <a href="https://github.com/migueldemoura/migueldemoura.com" rel="noopener" target="_blank">repository</a>.</p>
    </section>
{% endblock content %}