{% extends "base.html" %}

{% block content %}
<section class="article-list">
    <ul>
        {% for post in section.pages %}
        <li>
            <div class="article-list-date">
                <time datetime="{{ post.date }}">{{ post.date }}</time>
            </div>
            <div>
                <a href="{{ post.permalink | trim_end_matches(pat="/") }}">
                    <h2>{% if post.extra.external %}<b>External</b> | {% endif %}{{ post.title | safe }}</h2>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}
