{% extends "base.html" %}

{% block content %}
<article>
  <div class="divider"></div>
  <header>
    <h2>{{ page.title | safe }}</h2>
    <time datetime="{{ page.date | date(format='%B %-d, %Y') }}">{{ page.date | date(format='%B %-d, %Y') }}</time>
  </header>
  <section>
    {% block post %}
      {{ page.content | safe }}
    {% endblock post %}
  </section>
  <div class="divider"></div>
  <footer>
    <h2>Share</h2>
    <a href="https://twitter.com/intent/tweet/?text={{ page.title | urlencode }}&url={{ page.permalink }}"
      aria-label="Share on Twitter" rel="noopener" target="_blank">
      {{ macros::svg_icon(icon="twitter") }}
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.permalink }}&title={{ page.title | urlencode }}&source={{ config.title | urlencode }}"
      aria-label="Share on LinkedIn" rel="noopener" target="_blank">
      {{ macros::svg_icon(icon="linkedin") }}
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.permalink }}" aria-label="Share on Facebook" rel="noopener" target="_blank">
      {{ macros::svg_icon(icon="facebook") }}
    </a>
  </footer>
  <div class="divider"></div>
</article>
{% endblock content %}
