// =============================================================================
// Base
// =============================================================================

// Document
// =============================================================================

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-color;
  padding: 35px;
  @include breakpoint(extra-small) {
    padding: 35px 20px;
  }
}

// Typography
// =============================================================================

p {
  margin: 0;
}

b,
strong {
  font-weight: $base-font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  line-height: 1.25;
  color: #313131;
}

h1 {
  font-size: 2rem;
}

h2,
h3 {
  margin-top: 3.5rem;
  font-size: 1.5rem;
}

h4,
h5,
h6 {
  margin-top: 1.1rem;
  font-size: 1.1rem;
}

a {
  color: $base-accent-color;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

svg {
  fill: $base-font-color;
  vertical-align: middle;
  &:hover,
  &:active,
  &:focus {
    fill: $base-font-secondary-color;
  }
}

ul,
ol {
  padding-left: 50px;
  @include breakpoint(extra-small) {
    padding-left: 30px;
  }
}

blockquote {
  border-left: 5px solid $base-background-accent-color;
  margin: 40px 0;
  padding: 5px 30px;
  background: $base-background-color;
  p {
    margin: 15px 0;
  }
}

// Other
// =============================================================================

hr {
  margin: 30px 0;
  border: 0;
  border-bottom: 1px solid $base-border-color;
}

img {
  display: block;
  max-width: 100%;
  border: 0;
}

figure {
  font-size: 14px;
  margin: 30px 0;
  figcaption {
    margin-top: 5px;
  }
  &.reduced {
    img {
      max-width: 350px;
      margin-right: auto;
      margin-left: auto;
      @include breakpoint(extra-small) {
        max-width: 100%;
      }
    }
    figcaption {
      text-align: center;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  thead {
    background: $base-background-color;
  }
  th {
    text-align: left;
    padding: 6px 10px;
  }
  td {
    padding: 4px 10px;
    border-top: 1px solid $base-border-color;
  }
  td:first-child {
    white-space: nowrap;
    vertical-align: top;
    @include breakpoint(extra-small) {
      white-space: normal;
    }
  }
}

time {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
}

::selection {
  color: $white;
  background-color: $base-font-secondary-color;
}
