// =============================================================================
// Variables
// =============================================================================

// Typography
// =============================================================================

$base-font-family:
    // macOS Safari, macOS Firefox, iOS Safari (San Francisco)
    -apple-system,
    // macOS Chrome (San Francisco)
    BlinkMacSystemFont,
    // Windows
    'Segoe UI',
    // Android, Chrome OS
    Roboto,
    // KDE
    Oxygen,
    // Ubuntu
    Ubuntu,
    // GNOME
    Cantarell,
    // macOS < 10.11
    'Helvetica Neue',
    sans-serif;
$base-font-family-mono:
    // macOS >= 10.12
    'SFMono-Regular',
    // Windows
    Consolas,
    // GNU/Linux Distributions
    'Liberation Mono',
    // macOS >= 10.6
    Menlo,
    Courier,
    monospace;
$base-font-weight: normal;
$base-font-weight-bold: bold;

// Colors
// =============================================================================

$black: #000;
$white: #fff;

$base-font-color: #586069;
$base-font-secondary-color: #2d323c;
$base-accent-color: #0366d6;
$base-background-color: #f9f9f9;
$base-background-accent-color: #ddd;
$base-border-color: $base-background-color;

// Sizes
// =============================================================================

// Font sizes

$base-font-size: 16px;
$base-line-height: 1.6;

// Box sizes

$base-border-radius: 4px;
