---
layout: default
---

<article class="article">
    <header class="article-header">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
        <div class="article-list-footer">
            <span class="article-list-date">
                {{ page.date | date: "%B %-d, %Y" }}
            </span>
            <span class="article-list-divider">-</span>
            <div class="article-list-tags">
                {% for tag in page.tags %}
                    <a href="{{ 'tag/' | relative_url }}{{ tag | replace: ' ', '-' | cgi_escape | url_encode }}">{{ tag | capitalize }}</a>
                {% endfor %}
            </div>
        </div>
    </header>
    <div class="article-content">
        {{ content }}
    </div>
    <div class="article-share">
        <a href="https://twitter.com/intent/tweet/?text={{ page.title | cgi_escape | url_encode }}&url={{ page.url | absolute_url }}" title="Share on Twitter" rel="noreferrer noopener" target="_blank">
            {% include svg-icon.html icon="twitter" %}
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title | cgi_escape | url_encode }}&source={{ site.name | cgi_escape | url_encode }}" title="Share on LinkedIn" rel="noreferrer noopener" target="_blank">
            {% include svg-icon.html icon="linkedin" %}
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" title="Share on Facebook" rel="noreferrer noopener" target="_blank">
            {% include svg-icon.html icon="facebook" %}
        </a>
    </div>
</article>
