// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding-top: 35px;
  margin-bottom: 85px;
  border-top: 1px solid $base-border-color;
  p {
    font-size: 15px;
    color: $gray-dark;
  }
  a {
    text-decoration: none;
  }
}

.footer .notice {
  font-weight: $base-font-weight-bold;
  margin-bottom: 10px;
}
