// =============================================================================
// Header
// =============================================================================

nav {
  margin-top: 15px;
  padding: 4px 0;
  text-align: center;
  a {
    border-radius: $base-border-radius;
    padding: 8px;
    font-size: 14px;
    &.subscribe {
      margin-left: 12px;
      background: $base-accent-color;
      color: $white;
    }
  }
}

header {
  text-align: center;
  a {
    display: inline-block;
    width: 200px;
    img {
      display: inline-block;
      border-radius: 50%;
    }
    h1 {
      margin: 15px 0 0 0;
      font-size: 1.6rem;
      font-weight: $base-font-weight;
      &:hover,
      &:active,
      &:focus {
        outline-color: $base-font-secondary-color;
      }
    }
    &:hover,
    &:active,
    &:focus {
      outline-color: $base-font-secondary-color;
      color: $base-font-secondary-color;
    }
  }
}
