// =============================================================================
// Header
// =============================================================================

nav {
  margin-top: 5px;
  text-align: center;
  a {
    border-radius: $base-border-radius;
    padding: 8px 8px;
    font-size: 14px;
    &.subscribe {
      margin-left: 12px;
      background: $base-accent-color;
      color: $white;
    }
  }
}

header {
  text-align: center;
  a {
    display: inline-block;
    width: 200px;
    &:hover,
    &:active,
    &:focus {
      color: #313131;
    }
    img {
      display: inline-block;
      border-radius: 50%;
    }
    h1 {
      margin: 15px 0;
      font-size: 1.6rem;
      font-weight: 400;
      &:hover,
      &:active,
      &:focus {
        text-decoration-color: $base-font-secondary-color;
      }
    }
  }
}
